// Aesthetic Minimalism Color Scheme
$background-color: #f0f0f0; // Soft background color for minimalism
$text-color: #333; // Dark gray text for readability and simplicity
$hover-background-color: #e8e8e8; // Slightly darker background on hover for subtle interactivity
$error-color: #d9534f; // Muted red for error messages
$border-color: #ddd; // Light gray for borders
$transition-duration: 0.3s; // Smooth transitions for interactive elements

// Basic styles for the document body
body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background: $background-color;
  color: $text-color;
  line-height: 1.6;
}

// Minimalistic container styling
.container {
  padding: 2rem;
  background-color: $background-color;
  border: 1px solid $border-color;
  border-radius: 4px;
  width: auto;
  max-width: 1300px; // Maximum width for the modal to ensure it's not too wide
  margin: 0 auto;
}

// Styles for minimalistic containers
.minimalism-container {
  background-color: $background-color;
  border-radius: 4px; // Less pronounced border radius for subtle aesthetics
  padding: 1rem;
  border: 1px solid $border-color;
  margin: 0 auto;
  max-width: 1000px; // Smaller max-width for a more focused content area
  position: relative;
  transition: background-color $transition-duration;

  &:hover {
    background-color: $hover-background-color;
  }
}

// Minimalistic table styling
table {
  width: 100%;
  border-collapse: collapse;

  th, td {
    padding: 0.75rem;
    background-color: $background-color;
    border-bottom: 1px solid $border-color;
    text-align: center;
  }

  th {
    background-color: $hover-background-color;
  }
}

input {
  //width: 50%;
  //margin: 0 auto;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
  color: #444;
  line-height: 24px;
  display: block;
  padding-left: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.buttons {
  margin: 12px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// Minimalistic button styling
button {
  padding: 0.5rem 1rem;
  background-color: $background-color;
  color: $text-color;
  border: 1px solid $border-color;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: all $transition-duration;

  &:hover {
    background-color: $hover-background-color;
  }

  &:active {
    transform: translateY(1px); // Less pronounced active state for subtlety
  }
}

#barsModal {
  .modal-content {
    cursor: grab;
    width: 100%;
  }
}

// Minimalistic modal styling
.modal {
  padding: 0.5rem 1rem;
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($text-color, 0.4);

  &.show {
    display: block;
    animation: fadeIn $transition-duration;
  }

  .modal-content {
    border: 1px solid #ddd;
    background-color: $background-color;
    width: 30%;
    margin: 5% auto;
    padding: 0.5rem 1rem;
  }

  .close {
    color: $text-color;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 12px;

    &:hover {
      color: $error-color;
      text-decoration: none; // Removing underline on hover for cleaner look
      cursor: pointer;
    }
  }
}

// Animations
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

// Styles for error messages in a minimalistic approach
#errorModal {
  .modal-content {
    border-color: $error-color;
  }
}

// Minimalistic styles for the barsModal container
#barsModal {
  display: none; // Container is hidden by default
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  width: 60%;
  .modal-content {
    z-index: 9999;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}

// Minimalistic select styling
//select {
//  padding: 0.5rem;
//  border: 1px solid $border-color;
//  border-radius: 4px;
//  background-color: $background-color;
//  color: $text-color;
//  -webkit-appearance: none; // Removes default styling provided by the browser
//  -moz-appearance: none; // Removes default styling provided by the browser
//  appearance: none; // Removes default styling provided by the browser
//  cursor: pointer;
//  transition: border-color $transition-duration;
//
//  &:hover {
//    border-color: darken($border-color, 10%);
//  }
//
//  &:focus {
//    outline: none;
//    border-color: $hover-background-color;
//  }
//}

// Utility classes for spacing
.mt-1 { margin-top: 1rem; }
.mb-1 { margin-bottom: 1rem; }